---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Row from "@/components/Row.astro";
import ContactForm from "@/components/ContactForm.astro";

import { Icon } from "astro-icon/components";

import imshy from "../images/side-art.png";
import speechBubble from "../images/speech-bubble.png";
---

<Layout title="Welcome to DodolCat.">
  <main>
    <div class="main-section">
      <Row>
      <Image src={imshy} alt="im shy" layout="responsive" width={600} />
        <div>
          <Image src={speechBubble} alt="im shy" layout="responsive" width={600}  />
          <ContactForm />
        </div>
      </Row>
    </div>
    <div class="footer">
      <a href="https://zuqili.com"><Icon name="instagram" /></a>
      <a href="https://zuqili.com"><Icon name="tiktok" /></a>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: auto;
    height: auto;
    max-width: calc(100% - 2rem);
    color: #714f2c;
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: auto;
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2rem;
    margin: 1rem;
  }
</style>
