---
interface Props {
}

const {} = Astro.props;
---

<button>
  <slot />
</button>
<style>
  button {
    width: 10rem;
    height: 3rem;
    margin: 0.5rem;

    border-radius: 0.5rem;
    border: none;
    outline: none;
    background: #FDFBDF;
    color: #714F2C;
  }
  button:active {
    background: #E3E1C8;
  }
</style>
