---
import DodolCatLogo from "@/components/DodolCatLogo.astro";
import LinkButton from "@/components/LinkButton";
import Accordion from "@/components/Accordion";

interface Props {}

const {} = Astro.props;
---

<div class="navbar">
  <div>
    <DodolCatLogo />
    <div class="titan-one logo-text">Dodol Cat</div>
  </div>
  <div class="button-group">
    <LinkButton href=".">Home</LinkButton>
    <LinkButton href=".">Contact</LinkButton>
    <Accordion
      title="Shop"
      items={[
        { title: "Go to Threadless", href: "." },
        { title: "Go to Threadless", href: "." },
      ]}
      client:load
    />
  </div>
</div>
<style>
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: auto;
    padding: 2rem;
    background: #faae35;
  }
  .logo-text {
    color: white;
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  @media (orientation: portrait) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      height: 5rem;
      width: auto;
      padding: 0.5rem;
    }
    .logo-text {
      display: none;
    }
    .button-group {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }
</style>
