---
interface Props {
}

const {} = Astro.props;
---

<div class="row">
  <slot>
</div>
<style>
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
