---
import DodolCatLogo from '../components/DodolCatLogo.astro';

interface Props {
}

const {} = Astro.props;
---

<div class="side-bar">
  <DodolCatLogo />
</div>
<style>
  .side-bar {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: auto;
    background: #FAAE35;
  }
</style>
