---
import DodolCatLogo from '../components/DodolCatLogo.astro';
import Button from '../components/Button.astro';

interface Props {
}

const {} = Astro.props;
---

<div class="side-bar">
  <DodolCatLogo />
  <div class="titan-one logo-text">
    Dodol Cat
  </div>
  <Button>Art</Button>
  <Button>Info</Button>
  <Button>Shop</Button>
</div>
<style>
  .side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: auto;
    padding: 2rem;
    background: #FAAE35;
  }
  .logo-text {
    color: white;
    font-size: 2.5rem;
    margin: 2rem 0;
  }
</style>
